@{
    //this.Layout = "~/Views/Home/_Layout.cshtml";
    var assets = UnifyHelper.GetAssetPath();
}
<h2>Common Home Index</h2>

@section styles
{
    <link rel="stylesheet" href="@assets/css/plugins/style-switcher.css">
}
@Html.Partial("Unify/Plugins/_StyleSwitcher")
@*@this.RenderSectionWithPartial("Unify/_Slider")
@this.HideSection("Unify/_Breadcrumbs")

<hr />
@for (int i = 0; i < 10; i++)
{
    <h2>DEMO</h2>
}
@Html.Partial("Unify/Plugins/_StyleSwitcher")
@Html.Partial("Unify/Plugins/_ParallaxSlider")*@