@using ZQNB.Common.Themes
@{
    var themeManager = ThemeManagerRegistry.Instance.GetService();
    var requestTheme = themeManager.GetRequestTheme(this.Request.RequestContext);
}
<h2>Try Find Theme: @requestTheme.ThemeName</h2>