<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\src\ZQNB.Common.Impl\packages.config" />
  <repository path="..\src\ZQNB.Common\packages.config" />
  <repository path="..\src\ZQNB.Web.Infrastructure\packages.config" />
  <repository path="..\src\ZQNB.Web\packages.config" />
</repositories>